{% extends 'base.html' %}
{% load static from staticfiles %}

{% block contenido %}

<form method = "post" action = "/usuario/login/">
	<label>Usuario: </label>
	<input type = "text" name = "user" /><br />
	<label>Contraseña: </label>
	<input type = "password" name = "password" /><br />
	<button type = "submit">Entrar</button>
</form>

{% endblock %}